html,body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}


.interact{
    position : absolute;
    width : 60px;
    height : 60px;
    /*border : solid 2px;
    border-color : red;*/
    user-select: none;
    top : 0px;
    left : 0px;
}

#lettrea{
    left : 71%;
    top : 3%;
}

#lettreb{
    left : 80.6%;
    top : 3%;
}

#lettrec{
    left : 71%;
    top : 18%;
}

#lettred{
    left : 80.6%;
    top : 18%;
}

#molette{
    width : 150px;
    height : 150px;
    left : 71.6%;
    top : 38%;
}

#switch1{
    width : 40px;
    height : 40px;
    left : 74.7%;
    top : 77%;
}

#switch2{
    width : 40px;
    height : 40px;
    left : 82%;
    top : 77%;
}

#switch3{
    width : 40px;
    height : 40px;
    left : 74.7%;
    top : 90.5%;
}

#switch4{
    width : 40px;
    height : 40px;
    left : 82%;
    top : 90.5%;
}

#btn1-1{
    width : 40px;
    height : 40px;
    left : 39%;
    top : 28.5%;
}

#btn1-2{
    width : 40px;
    height : 40px;
    left : 47.5%;
    top : 28.5%;
}

#btn1-3{
    width : 40px;
    height : 40px;
    left : 55.5%;
    top : 28.5%;
}

#btn2-1{
    width : 40px;
    height : 40px;
    left : 39%;
    top : 41.5%;
}

#btn2-2{
    width : 40px;
    height : 40px;
    left : 47.5%;
    top : 41.5%;
}

#btn2-3{
    width : 40px;
    height : 40px;
    left : 55.5%;
    top : 41.5%;
}

#btn3-1{
    width : 40px;
    height : 40px;
    left : 39%;
    top : 55.5%;
}

#btn3-2{
    width : 40px;
    height : 40px;
    left : 47.5%;
    top : 55.5%;
}

#btn3-3{
    width : 40px;
    height : 40px;
    left : 55.5%;
    top : 55.5%;
}


#tripos1{
    width : 70px;
    height : 82px;
    left : 17.5%;
    top : 81.5%;
}

#tripos2{
    width : 70px;
    height : 82px;
    left : 37%;
    top : 81.5%;
}

#tripos3{
    width : 70px;
    height : 82px;
    left : 56.5%;
    top : 81.5%;
}


#holder-image{
    background-size : contain;
    background-repeat : no-repeat;
    background-position : center;
    background-image: url("objet/intro.png");
    position: absolute;
    background-color : white;
}

#holder-image i{
    position : absolute;
    right : 1%;
    top : 1%;
    font-size : 2em;
}
